@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-veryvogue: var(--font-very-vogue);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Correcciones base para Lenis Smooth Scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* ==========================================================
   CUSTOM SCROLLBARS (Para forzar visibilidad en MacOS/iOS)
   ========================================================== */

/* 1. Scrollbar Vertical (Para los detalles del paquete) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Muy delgada y elegante */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(207, 101, 91, 0.05);
  /* Fondo casi invisible */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(207, 101, 91, 0.3);
  /* Terracota semitransparente */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 101, 91, 0.6);
  /* Más oscuro al pasar el mouse */
}

/* 2. Scrollbar Horizontal (Para las miniaturas de imágenes) */
.custom-scrollbar-x::-webkit-scrollbar {
  height: 4px;
  /* Aún más delgada para no estorbar visualmente */
}

.custom-scrollbar-x::-webkit-scrollbar-track {
  background: rgba(207, 101, 91, 0.05);
  border-radius: 10px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background: rgba(207, 101, 91, 0.3);
  border-radius: 10px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb:hover {
  background: rgba(207, 101, 91, 0.6);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}